<div class="actor-wrapper">
  <% let j = 1;
  actorStat.forEach((value, key, map)=> {
    %>
    <div class="actor-item">
      <div class="top-line">
        <%= j %>.
        <a href="/?filtermode=<%= FilmMode.CAST %>&filtervalue=<%= key
          %>#movieSect">filter</a>
      </div>
      <div class="mid-line">
        <a href="person/<%= key %>" target="blank"><img src="<%= value.sPhoto %>"></a>
        <div><%= value.name %></div>
      </div>
      <span class="person-data">
        <span class="person-quant"><%= value.quantity %></span> | <span
          class="person-rank"><%= value.rating
          %></span>
      </span>
    </div>
    <% j++;

  }); %>
</div>

<script>
  document.querySelector("a[href*='/?sortactor=<%= sortactormode %>']").classList.add("sortselected");
</script>