<% countryStat.forEach((value, key, map)=> {
  if (value.quantity > 5) {
    let showData = "";
    let bar = 0
    let addData = "";

    if (sortcountrymode.includes("rating")) {
      showData = value.rating;
      bar = value.rating*8;
      addData = value.quantity;
    } else if(sortcountrymode.includes("quantity")) {
      showData = value.quantity;
      for (let i = 1; i <= value.quantity; i += 1) bar += 0.1;
      addData = value.percent+'%';
    }  else {
      showData = value.quantity;
      for (let i = 1; i <= value.quantity; i += 1) bar += 0.1;
      addData = '('+value.rating+')';
    }
    %>
    <div class="chart-line country-chart">
      <a href="/?filtermode=<%= FilmMode.COUNTRY %>&filtervalue=<%= key %>#movieSect">filter</a>
      <span class="chart-key"><%= key %>
      </span>
      <span class='chart-bar' style='width:<%= bar %>%'><%= showData %></span>
      <span class="chart-addition"><%= addData %></span>
    </div>
    <%
  }
}) %>

<script>
  document.querySelector("a[href*='/?sortcountry=<%= sortcountrymode %>']").classList.add("sortselected");
</script>