<h1>Decade statistics</h1>
Sort by:
<a href="/?sortdecade=<%= SortMode.KEY_ASC %>">Decade from past</a> |
<a href="/?sortdecade=<%= SortMode.KEY_DESC %>">Decade from now</a> |
<a href="/?sortdecade=<%= SortMode.QUANTITY_ASC %>">Quantity up</a> |
<a href="/?sortdecade=<%= SortMode.QUANTITY_DESC %>">Quantity down</a>

<% decadeStat.forEach((value, key, map)=> {
  if (value.quantity > 0) {
    %>
    <p>
      <a href="/?filtermode=<%= FilmMode.DECADE %>&filtervalue=<%= key %>">filter</a> <%= key %> | <%= value.quantity %> | <%= value.percent %>% | <%= value.rating %>
    </p>
    <%
  }
}) %>

<script>
  document.querySelector("a[href*='/?sortdecade=<%= sortdecademode %>']").classList.add("sortselected");
</script>