<% decadeStat.forEach((value, key, map)=> {
  if (value.quantity > 0) {
    let bar = 0;
    for (let i = 1; i<=value.quantity; i += 1) bar += 0.15;
    %>
    <div class="chart-line decade-chart">
      <a href="/?filtermode=<%= FilmMode.DECADE %>&filtervalue=<%= key
      %>#movieSect">filter</a><span class="chart-key"><%= key %></span>&nbsp;&nbsp;
      <span class='chart-bar' style='width:<%= bar %>%'><%= value.quantity
      %></span> &nbsp;&nbsp;<span class="chart-addition"><%= value.percent %>%</span>
    </div>
    <%
  }
}) %>

<script>
  document.querySelector("a[href*='/?sortdecade=<%= sortdecademode %>']").classList.add("sortselected");
</script>