<% let k = 1;
directorStat.forEach((value, key, map)=> {
  %>
  <div class="chart-line director-chart">
    <a href="/?filtermode=<%= FilmMode.DIRECTOR %>&filtervalue=<%= key
      %>#movieSect">filter</a>
    <span class="ord"><%= k %>.</span>
    <span class="chart-key">
      <a href="person/<%= key %>"><%= value.name %></a></span>
    <span class="person-data">
      <span class="person-quant"><%= value.quantity %></span> | <span
        class="person-rank"><%= value.rating
        %></span>
    </span>

  </div>
  <% k++;

}); %>

<script>
  document.querySelector("a[href*='/?sortdirector=<%= sortdirectormode %>']").classList.add("sortselected");
</script>