<h3>Selected (<%= movieStat.size %>)</h3>
<% if (currentFilter.value || (currentFilter.value == "" && currentFilter.mode == "type")) {
  %>
  <div class="current-filter">
    Filtered by <b>
      <% if (currentFilter.mode == "pRating") {
        %>
        your rating:&nbsp;
        <%= currentFilter.value %>
        <%
      } else if (currentFilter.value.includes('nm')) {
        %>
        <a href="person/<%= currentFilter.value %>" target="_blank"><%=
          (actorStat.get(currentFilter.value) || directorStat.get(currentFilter.value)).name
          %></a>
        <%
      } else if (currentFilter.value == "" && currentFilter.mode == "type") {
        %>
        Common
        <%
      } else if (currentFilter.mode == "favorite") {
        %>
        Favorites
        <%
      } else {
        %>
        <%= currentFilter.mode %>:&nbsp;
        <%= currentFilter.value %></b>
      <%
    }
  } if (currentFilter.value || (currentFilter.value == "" && currentFilter.mode == "type")) {
    %>
    <a href="/?filtermode=&filtervalue=#movieSect">Clear filter</a>
  </div>
  <%
} %>


<div class="fitler-table-wrapper">
  <% for (let i = 1; i <= 10; i += 1) {
    %>
    <a href="/?filtermode=<%= FilmMode.USER_RATING %>&filtervalue=<%= i %>#movieSect"><b><%= i %></b></a>
    <%
  } %>
</div>

<div class="fitler-table-wrapper">
  <a href="/?filtermode=<%= FilmMode.TYPE %>&filtervalue=TV Series#movieSect">TV Series</a>
  <a href="/?filtermode=<%= FilmMode.TYPE %>&filtervalue=TV Mini Series#movieSect">TV Mini Series</a>
  <a href="/?filtermode=<%= FilmMode.TYPE %>&filtervalue=TV Movie#movieSect">TV Movie</a>
  <a href="/?filtermode=<%= FilmMode.TYPE %>&filtervalue=#movieSect">Common movies</a>
  <a id="favor" href="/?filtermode=<%= FilmMode.FAVORITE %>&filtervalue=<%= true
    %>#movieSect">Favorite movies</a>
</div>
<div class="table-container">
  <% let i = 1;
  movieStat.forEach((value, key, map)=> {
    if (value.pRating > 7) {
      %>
      <div class="row">
        <div class="row-section col-order-fav">
          <div class="row-subsection ord">
            <%= i %>.
          </div>
          <!-- FAVORITE -->
          <div class="row-subsection">
            <% let question = value.favorite == true ? "Not favorite any more?": "Wanna add to favorites?"; %>
            <form action="/index/<%= key %>#movieSect" method="POST" onsubmit="return confirm('\n>> <%= question %>\n');">
              <input type="hidden" name="favorite"
              value="<%= value.favorite == true ? false: true %>">
              <% if (value.favorite == true) {
                %>
                <button class="fav-button"
                  type="submit">Fav</button>
                <%
              } else {
                %>
                <button class="add-fav-button"
                  type="submit">+<br>Fav</button>
                <%
              } %>
            </form>

          </div>
        </div>
        <div class="row-section col-poster-dur">
          <a href="film/<%= key %>"><img src="<%= value.sPoster %>" alt="<%=
            value.commTitle %>"></a>
          <div class="duration">
            <%= value.duration.replace(' hour', 'h').replace(' minute', 'm').replaceAll('s', '') %>
          </div>
        </div>
        <div class="row-section col-title">
          <div class="row-subsection">
            <%= value.commTitle %>
          </div>
          <div class="row-subsection orig-title">
            <%= value.origTitle %>
          </div>
        </div>
        <div class="row-section col-year-imdb">
          <div class="row-subsection year">
            <%= value.year %>
          </div>
          <div class="row-subsection">
            <% if (value.imdbRating) {
              %>
              IMDB:<br><%= value.imdbRating %> (<%= value.imdbRatingNum%>)
              <%
            } %>
          </div>
          <div class="row-subsection type">
            <%= value.type %>
          </div>
        </div>
        <div class="row-section col-user-rating">
          <div class="row-subsection rating" onclick="openChange(this)">
            <%= value.pRating %>
          </div>

          <div class="row-subsection change-rating">
            <!-- CHANGE RATING -->
            <form action="/index/<%= key %>" method="POST" onsubmit="return confirm('Are you sure?');">
              <select name="personalRating">
                <option value="10">10</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
              </select>
              <button type="submit">Change</button>
            </form>
          </div>

          <div class="row-subsection datetime">
            <%= value.pDateTime.replace(',', ' ') %>
          </div>
        </div>
      </div>
      <% i++;
    }
  }); %>

</div>

<script>
  document.querySelector("a[href*='/?sortmovie=<%= sortmoviemode %>']").classList.add("sortselected");

  function openChange(target) {
    let changeElem = target.parentElement.querySelector(".change-rating");
    if (changeElem.style.display != "block") {
      changeElem.style.display = "block";
    } else {
      changeElem.style.display = "none";
    }
  }
</script>