<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<div class="eval-container">
  <%- include('partials/navigate') %>
  
  <%- include('partials/searchform') %>
  <br><br>
  
  <div class="eval-film-item" id="selectedFilm"></div>
  <div id="evalBar"></div>
  
 <% if(searchResultList) { %>
  <% searchResultList.forEach(elem=>{ %>
  <div class="eval-film-item" id="searchResult" onclick="selectResult(this)" />
      <%= elem.ind %>. 
      <img alt="" src="<%= elem.poster %>">
      
      <a href="<%= elem.link %>" target="_blank" data-link="<%= elem.link %>">
        <%= elem.title %> (<%= elem.year %>)<sup class="external-mark">&#8680;</sup>
      </a>
      <i><%= elem.shortcast %></i>
    </div>
    <% }); } if(searchResultList.length == 0) { %>
    <h3><i>No search results</i></h3>
    <% } %>
</div>

<script>
  let ratingSelect = `
  <form action="/film/" method="POST" onsubmit="return confirm('Are yot sure?')">
  <label>Your rate:</label>
  <input type="hidden" id="filmLink" name="filmLink" value="">
  <select name="personalRating" id="personalRating">
    <option value="10">10</option>
    <option value="9">9</option>
    <option value="8">8</option>
    <option value="7">7</option>
    <option value="6">6</option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select>
  <button onclick="ratePerform()">Perform</button></form>`
  
    function selectResult(src) {
      let selectedFilm = document.getElementById("selectedFilm");
      let evalBar = document.getElementById("evalBar");
      selectedFilm.style.display = "flex";
      selectedFilm.innerHTML = src.innerHTML;
      
      evalBar.style.display = "flex";
      evalBar.innerHTML = ratingSelect;
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }
    
    function ratePerform() {
      let filmLink = document.querySelector("#selectedFilm a").getAttribute("data-link");
      document.getElementById("filmLink").value = filmLink;
    }
    
</script>
</body>
</html>