<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Find and rate a film</h1>
    <%- include('partials/searchform') %>
    <br>
  
  <h1><%= title %></h1>
  <div id="selectedFilm" style="border:10px solid #777; background:lightblue" hidden>Rate this: <br></div>
  <div id="searchResult">
    <% if(searchResultList) { %>
    <% searchResultList.forEach(elem=>{ %>
    <div onclick="selectResult(this)" /><p data-link="<%= elem.link %>" style='display:block; border:1px solid #444'><%= elem.ind %>. 
    <img alt="" src="<%= elem.poster %>">
    
    <a href="<%= elem.link %>" target="_blank"><b><%= elem.title %> (<%= elem.year %>)</b></a><br>
    <i><%= elem.shortcast %></i></p></div>
    <% }); } %>
  </div>
  
  <script>
  let ratingSelect = `
  <form action="/film/" method="POST">
  <b><label for="user-rating">Your rate:</label></b>
  <br>
  <input type="hidden" id="filmLink" name="filmLink" value="">
  <select name="personalRating" id="personalRating">
    <option value="10">10</option>
    <option value="9">9</option>
    <option value="8">8</option>
    <option value="7">7</option>
    <option value="6">6</option>
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select>
  <button onclick="ratePerform()">Do it now!</button></form>`
  
    function selectResult(src) {
      let elem = document.getElementById("selectedFilm");
      elem.hidden = false;
      elem.innerHTML = src.innerHTML+ratingSelect;
    }
    
    function ratePerform() {
      //let selElem = document.getElementById("user-rating")
      //let personalRating = selElem.value;
      let filmLink = document.querySelector("div#selectedFilm p").getAttribute("data-link");
      document.getElementById("filmLink").value = filmLink;
    }
    
  </script>
  </body>
  