<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Find and rate a film</h1>
  <%- include('partials/searchform') %>
  <br>
  
  <!-- DECADES -->
  <%- include('partials/decades') 
  %>
  
  <!-- YEARS -->
  <%- include('partials/years') 
  %>
 
  <!-- DIRECTORS -->
  <%- include('partials/directors') 
  %>
  
  <!-- ACTORS/ACTRESSES -->
  <%- include('partials/actors') 
  %>
  
  <!-- GENRES -->
  <%- include('partials/genres') 
  %>
  
  <!-- COUNTRIES -->
  <%- include('partials/countries') 
  %>
 
  <!-- MOVIE TABLE -->
  <%- include('partials/movietable') 
  %>
  
  
</body>
</html>