<div class="sort-bar">
  <b>Sort by:&nbsp;</b>
  <a href="<%= sortquery+SortMode.USER_RATING_ASC %>#movieSect">Your rating up</a> |
  <a href="<%= sortquery+SortMode.USER_RATING_DESC %>#movieSect">You rating down</a> |
  <a href="<%= sortquery+SortMode.EVAL_DATETIME_ASC %>#movieSect">Early rated</a> |
  <a href="<%= sortquery+SortMode.EVAL_DATETIME_DESC %>#movieSect">Recently rated</a> |
  <a href="<%= sortquery+SortMode.YEAR_ASC %>#movieSect">From older</a> |
  <a href="<%= sortquery+SortMode.YEAR_DESC %>#movieSect">From newer</a> |
  <a href="<%= sortquery+SortMode.IMDB_RATING_ASC %>#movieSect">IMDB rating up</a> |
  <a href="<%= sortquery+SortMode.IMDB_RATING_DESC %>#movieSect">IMDB rating down</a> |
  <a href="<%= sortquery+SortMode.IMDB_EVALNUM_ASC %>#movieSect">IMDB num up</a> |
  <a href="<%= sortquery+SortMode.IMDB_EVALNUM_DESC %>#movieSect">IMDB num down</a>
</div>