<div class="sort-bar">
  <b>Sort by:&nbsp;</b>
  <a href="<%= sortquery+SortMode.RATING_ASC %>">Rating up</a> |
  <a href="<%= sortquery+SortMode.RATING_DESC %>">Rating down</a> |
  <a href="<%= sortquery+SortMode.QUANTITY_ASC %>">Quantity up</a> |
  <a href="<%= sortquery+SortMode.QUANTITY_DESC %>">Quantity down</a> |
  <a href="<%= sortquery+SortMode.NAME_ASC %>">Name up</a> |
  <a href="<%= sortquery+SortMode.NAME_DESC %>">Name down</a>
</div>