<div class="sort-bar">
  <b>Sort by:&nbsp;</b>
  <a href="<%= sortquery+SortMode.USER_RATING_ASC %>">Your rating up</a> |
  <a href="<%= sortquery+SortMode.USER_RATING_DESC %>">You rating down</a> |
  <a href="<%= sortquery+SortMode.EVAL_DATETIME_ASC %>">Early rated</a> |
  <a href="<%= sortquery+SortMode.EVAL_DATETIME_DESC %>">Recently rated</a> |
  <a href="<%= sortquery+SortMode.YEAR_ASC %>">From older</a> |
  <a href="<%= sortquery+SortMode.YEAR_DESC %>">From newer</a> |
  <a href="<%= sortquery+SortMode.IMDB_RATING_ASC %>">IMDB rating up</a> |
  <a href="<%= sortquery+SortMode.IMDB_RATING_DESC %>">IMDB rating down</a> |
  <a href="<%= sortquery+SortMode.IMDB_EVALNUM_ASC %>">IMDB num up</a> |
  <a href="<%= sortquery+SortMode.IMDB_EVALNUM_DESC %>">IMDB num down</a>
</div>